In [1]:
cd galvanize/case_studies/dsi-regression-case-study/data/

/Users/elisereppond/galvanize/case_studies/dsi-regression-case-study/data

In [2]:
import pandas as pd

In [3]:
df_orig = pd.read_csv('Train.csv')

/Applications/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Trying to predict: SalePrice <br>

Columns to use as variables: <br>
YearMade <br> 
saledate <br>
saledate-YearMade <br>
MachineHoursCurrentMeter <br>
ProductSize <br>
Hydraulics <br>
Tire_Size <br> 
Stick_Length

In [4]:
def rename_columns(df_orig):
    '''returns df with renamed columns'''
    return df_orig.rename(index=str, columns={'YearMade': 'year_made', 'saledate': 'sale_date', 'MachineHoursCurrentMeter': 'machine_hours', 
                         'UsageBand': 'usage_band', 'ProductSize': 'product_size', 'Engine_Horsepower': 'horsepower', 
                         'Blade_Width': 'blade_width', 'Hydraulics': 'hydraulics', 'Tire_Size': 'tire_size',
                         'Undercarriage_Pad_Width': 'pad_width', 'Stick_Length': 'stick_length','Thumb':'thumb',
                         'Pattern_Changer': 'pattern_changer', 'Grouser_Type': 'grouser_type', 'Backhoe_Mounting': 'backhoe_mounting',
                         'Blade_Type': 'blade_type', 'Travel_Controls': 'travel_controls', 'Differential_Type': 'differential_type',
                         'Steering_Controls': 'steering_controls', 'SalesID': 'sales_id', 'SalesPrice': 'sales_price', 'MachineID': 'machine_id',
                         'ModelID': 'model_id', 'datasource': 'data_source', 'auctioneerID': 'auctioneer_id', 'SalePrice': 'sale_price'})

In [5]:
df = rename_columns(df_orig)

In [6]:
def nan_to_none(df):
    df['hydraulics'].fillna('None or Unspecified', inplace=True)
    df['product_size'].fillna('None', inplace=True)
    df['blade_width'].fillna('None', inplace=True)
    df['stick_length'].fillna('None', inplace=True)
    df['pad_width'].fillna('None', inplace=True)
    df['thumb'].fillna('None', inplace=True)
    df['stick_length'].fillna('None', inplace=True)
    df['pattern_changer'].fillna('None', inplace=True)
    df['grouser_type'].fillna('None', inplace=True)
    df['backhoe_mounting'].fillna('None', inplace=True)
    df['blade_type'].fillna('None', inplace=True)
    df['travel_controls'].fillna('None', inplace=True)
    df['differential_type'].fillna('None', inplace=True)
    df['steering_controls'].fillna('None', inplace=True)

In [7]:
nan_to_none(df)

In [8]:
def nan_to_zero(df):
    for col, value in df.iteritems():
        df[col].fillna(0, inplace=True)

In [9]:
nan_to_zero(df)

In [10]:
#turns sale_date into datetime object
df['true_date'] = pd.to_datetime(df['sale_date'])

In [25]:
df = df[df['year_made'] > 1800]

In [26]:
df['age_of_product'] = df['true_date'].apply(lambda x: x.year) - df['year_made']

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
df_num = df.loc[:,['year_made', 'machine_hours', 'age_of_product']]

In [28]:
df_num

        year_made  machine_hours  age_of_product
0            2004           68.0               2
1            1996         4640.0               8
2            2001         2838.0               3
3            2001         3486.0              10
4            2007          722.0               2
5            2004          508.0               4
6            1993        11540.0              11
7            2001         4883.0               4
8            2008          302.0               1
10           2004         1414.0               4
11           1998         2764.0               8
12           1998            0.0               7
13           2001         1921.0               5
14           2004          320.0               2
15           1999         2450.0               7
16           1999         1972.0               8
17           2003            0.0               7
18           2001          994.0               5
19           1991         8005.0              14
20           2000         3259.0               6
22           2005          109.0               2
23           1996        17033.0              10
24           2001         1877.0               3
25           2003         1028.0               3
26           2003          356.0               3
27           2000            0.0               7
28           2004          904.0               3
29           1998        10466.0               8
30           1999        15633.0              11
31           2001         2097.0               6
...           ...            ...             ...
401095       2003            0.0               8
401096       2004            0.0               7
401097       2005            0.0               6
401098       2004            0.0               7
401099       2004            0.0               7
401100       2004            0.0               7
401101       2004            0.0               7
401102       2005            0.0               6
401103       2005            0.0               6
401104       2005            0.0               6
401105       2005            0.0               6
401106       2005            0.0               6
401107       2005            0.0               6
401108       2005            0.0               6
401109       2005            0.0               6
401110       2005            0.0               6
401111       2005            0.0               6
401112       2005            0.0               6
401113       2005            0.0               6
401114       2005            0.0               6
401115       2005            0.0               6
401116       2005            0.0               6
401117       2005            0.0               6
401118       2006            0.0               5
401119       2005            0.0               6
401120       2005            0.0               6
401121       2005            0.0               6
401122       2005            0.0               6
401123       2005            0.0               6
401124       2005            0.0               6

[362940 rows x 3 columns]

In [29]:
df_num.to_csv('numerical_data.csv')